<div class="board w-100">
  <div class="row m-0">
    <div class="col-10 mx-auto py-3">
      <div class="row">
        <div class="col-md-9">
          <h2>About Us</h2>
          <div class="hr mb-2"></div>
          <p>
            The Egyptian Space Agency is an Egyptian public economic authority
            established in August 2019, with a legal personality and affiliated
            with the President of the Arab Republic of Egypt. Established by the
            Law No. 3 of 2018 which aims to create, transfer space technology
            development, localization and own self-capabilities to build &
            launch satellites from Egyptian territory. In 2019, The Egyptian
            President Abdel Fattah Al-Sisi announced the appointment of Dr.
            Mohamed ElKoosy as the CEO of the Egyptian Space Agency.
          </p>
          <div class="board_member mt-2">
            <div class="boardContainer">
              <div class="row m-0 member">
                <div class="col-md-6 col-12">
                  <div class="members row mx-3 justify-content-around">
                    <div
                      data-aos="zoom-in"
                      data-aos-delay="50"
                      data-aos-duration="1000"
                      data-aos-easing="ease-in-out"
                      data-aos-mirror="true"
                      data-aos-once="false"
                      class="text-center members__member mt-5"
                    >
                      <div class="member_photo">
                        <img
                          class="rounded-circle"
                          src="../../../assets/CEO.png"
                          alt="member__image "
                        />
                      </div>
                      <div class="members__ceo text-center">
                        <div class="card">
                          <div class="card-body mt-5">
                            <h5 class="card-title mx-auto">
                              Dr. Mohamed ElKoosy [ CEO ]
                            </h5>
                            <p class="card-text mt-1">
                              The President of Arab Republic of Egypt Mr. Abdel
                              Fattah El-Sisi, has appointed Dr. Mohamed ElKoosy
                              as the Executive Director of the Egyptian Space
                              Agency for one year
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="members row mx-3 justify-content-around">
                    <div
                      data-aos="zoom-in"
                      data-aos-delay="50"
                      data-aos-duration="1000"
                      data-aos-easing="ease-in-out"
                      data-aos-mirror="true"
                      data-aos-once="false"
                      class="text-center members__member mt-5"
                    >
                      <div class="member_photo">
                        <img
                          class="rounded-circle w-50"
                          src="../../../assets/Deraki.png"
                          alt="member__image "
                        />
                      </div>
                      <div class="members__ceo text-center">
                        <div class="card">
                          <div class="card-body mt-5">
                            <h5 class="card-title mx-auto">
                              DR. Mohammed Iraqi [ DED ]
                            </h5>
                            <p class="card-text mt-1">
                              The President of Arab Republic of Egypt Mr. Abdel
                              Fattah El-Sisi, has appointed Dr. Mohamed ElKoosy
                              as the Executive Director of the Egyptian Space
                              Agency for one year
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 astra text-center">
          <img class="w-75" src="../../../assets/astra2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
