<div class="imgslider">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-ride="carousel"
    data-interval="1800"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../../assets/plant.png"
          class="d-block w-100"
          alt="plant"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/plant.png"
          class="d-block w-100"
          alt="plant"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/plant.png"
          class="d-block w-100"
          alt="plant"
        />
      </div>
    </div>
  </div>
</div>
