<div class="about w-100">
  <div class="row m-0">
    <div class="col-10 mx-auto py-3">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="row">
            <div class="col-md-3 col-12">
              <img src="../../../assets/eye.png" class="w-75" alt="" />
            </div>
            <div class="col-md-9 col-12 py-3">
              <h4>VIsion</h4>
              <p>
                Egypt is a responsible user for outer space having the ability
                to carry outer space missions serving its national development
                and security objectives and competent of being an active member
                in global space initiatives. Egypt will be capable of carrying
                out deep space missions to explore and use space resources.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-12">
              <img src="../../../assets/eye.png" class="w-75" alt="" />
            </div>
            <div class="col-md-9 col-12 py-3">
              <h4>MISSION</h4>
              <p>
                Egypt is a responsible user for outer space having the ability
                to carry outer space missions serving its national development
                and security objectives and competent of being an active member
                in global space initiatives. Egypt will be capable of carrying
                out deep space missions to explore and use space resources.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-12">
              <img src="../../../assets/eye.png" class="w-75" alt="" />
            </div>
            <div class="col-md-9 col-12 py-3">
              <h4>OUR VALUES</h4>
              <img src="../../../assets/value.png" alt="" class="w-75" />
            </div>
          </div>
        </div>
        <div
          data-aos="fade-right"
          class="col-md-4 col-12 text-center spaceImage"
        >
          <img
            src="../../../assets/astronautegypt.png"
            alt="rocket"
            class="img-fluid rightSliderImage"
          />
        </div>
      </div>
    </div>
  </div>
</div>
