<div class="footer">
  <div class="container">
    <h3>Egyptian Space Agency</h3>
    <div class="row">

      <div class="footer-info col-md-5">

        <p>We at the Egyptian Space Agency are open to cooperation and integration with all parties from inside and
          outside,
          in a manner that realizes the activation of space technology for the benefit of Egyptian society and progress.
        </p>

        <h5>
          <i class="fas fa-map-marker-alt"></i>
          Middle Ring road KM, New Cairo, Egypt
        </h5>
        <br />
        <h5>
          <i class="far fa-envelope"></i>
          info@egsa.gov.eg
        </h5>
        <br />
        <h5>
          <i class="fas fa-phone-alt"></i>
          +20 22625 1226
        </h5>
      </div>

      <ul class="footer-ul col-md-2 text-center">
        <a href="#"><li>Contact us</li></a>
        <a href="#"><li>About us</li></a>
        <a href="#"><li>News</li></a>
        <a href="#"><li>Projects</li></a>
        <a href="#"><li style="border: none;">Careers</li></a>
      </ul>

      <div class="footer-map col-md-5">
        <div class="map-box">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.55788159397!2d31.60548701495817!3d30.049539381880482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581f50ded89ef1%3A0x9cdc6ce29e568030!2z2YjZg9in2YTYqSDYp9mE2YHYttin2KEg2KfZhNmF2LXYsdmK2KkgLSBFZ3lwdGlhbiBTcGFjZSBBZ2VuY3k!5e0!3m2!1sen!2seg!4v1626206439188!5m2!1sen!2seg" class="w-100 map" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="social ">
          <i class="fab fa-facebook-f   facebook"></i>
          <i class="fab fa-instagram "></i>
          <i class="fab fa-linkedin-in "></i>
          <i class="fab fa-twitter "></i>
        </div>
      </div>
    </div>
  </div>
</div>
