<div class="slider p-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div
        id="carouselExampleIndicators"
        class="carousel slide p-5"
        data-ride="carousel"
        data-interval="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row justify-content-around">
              <app-slideinfo class="col-6"></app-slideinfo>
              <div class="hr"></div>
              <app-slideimgs class="col-5"></app-slideimgs>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-around">
              <app-slideinfo class="col-6"></app-slideinfo>
              <div class="hr"></div>
              <app-slideimgs class="col-5"></app-slideimgs>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-around">
              <app-slideinfo class="col-6"></app-slideinfo>
              <div class="hr"></div>
              <app-slideimgs class="col-5"></app-slideimgs>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
